@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #003366;
  --accent-gradient: linear-gradient(
    45deg,
    var(--accent),
    #003366 30%,
    white 60%
  );
  --principal-color: #1a202c;
  --secondary-color: #2d3748;
  --tertiary-color: #4a5568;
}

html {
  font-family: "SF Pro Display", system-ui, sans-serif;
  background-color: #f6f6f6;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.principal-bg {
  background-color: var(--principal-color);
}

.principal-border {
  border-color: var(--principal-color);
}
