---
import { state } from "@/store";
import { Icon } from "astro-icon/components"
---
<section id="services" class="py-24 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold text-center mb-16">Our Services</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
      { state().services.map(service => (
        <article class="flex flex-col items-center text-center px-5 py-10 bg-gray-100 rounded-2xl hover:shadow-lg transition">
          <Icon name={ service.icon } class="text-5xl mb-4" />
          <h3 class="text-xl font-semibold mb-2">{ service.title }</h3>
          <p class="text-gray-600">{ service.description }</p>
        </article>
      ))}
    </div>
  </div>
</section>
