---
import { state } from '@/store';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="generator" content={ Astro.generator } />
    
    <title>{ state().metaTags.title }</title>
    <meta name="description" content={ state().metaTags.description } />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={ Astro.url } />
    <meta property="og:title" content={ state().metaTags.title } />
    <meta property="og:description" content={ state().metaTags.description } />
    <meta property="og:image" content="/og-image.jpg" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={ Astro.url } />
    <meta property="twitter:title" content={ state().metaTags.title } />
    <meta property="twitter:description" content={ state().metaTags.description } />
    <meta property="twitter:image" content="/twitter-image.jpg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>

